.eachBlog{
    line-height: 1.6rem;
    margin-bottom: 4.16667rem;
    .title{
        margin-bottom: 1rem;
        line-height: 3rem;
        font-size: 2rem;
        transition: all 350ms;
        a{
            color: #333;
        }
    }
}
